<h2>Sign up for our newsletter to receive news and specials!</h2>
<form method="post" action="/api/process?form=newsletter" class="form-horizontal" role="form">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
    <div class="form-group">
        <label for="field-name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="field-name" name="name">
        </div>
    </div>
    <div class="form-group">
        <label for="field-email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" id="field-email" name="email" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <a href="javascript:;" class="btn btn-default ajax">RegisterAjax</a>
        </div>
    </div>
</form>
{{#section 'jquery'}}
    <script>
        $(function () {
             $('.ajax').on('click', function (e) {
                 e.preventDefault();
                 let form = $(this).closest('form');
                 $.ajax({
                     url:form.attr('action'),
                     type:'post',
                     data:{
                         _csrf: form.find('input[name="_csrf"]').val(),
                         name: form.find('input[name="name"]').val(),
                         email: form.find('input[name="email"]').val(),
                     },
                     success(data) {
                         if (data.code === 1) {
                             alert('thx');
                         } else {
                             alert(data.msg);
                         }
                     },
                     error(data) {
                         console.error(data);
                     }
                 })
             })
        });
    </script>
{{/section}}