<h1>Request Group Rage</h1>
<form action="">
    Name: <input type="text" id="field-name" name="name"><br>
    Group size <input type="text" name="group-size"><br>
    Email: <input type="email" name="email"><br>
    <input type="submit" value="Submit">
</form>