<form action="/api/user/login" class="form-horizontal login-form" method="post">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
    <div class="form-group">
        <label for="field-email" class="col-sm-2 control-label">邮箱</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" id="field-email" name="email" required>
        </div>
    </div>
    <div class="form-group">
        <label for="field-password" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="field-password" name="password" required>
        </div>
    </div>
    <div class="from-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button class="btn btn-default" type="submit" value="登录">登录</button>
        </div>
    </div>
</form>
{{#section 'jquery'}}
    <script>
        $(function () {
            $('.login-form').on('submit', function (e) {
                e.preventDefault();
                let form = $(this);
                $.ajax({
                    type: 'POST',
                    url: form.attr('action'),
                    data: {
                        _csrf: form.find(`input[name='_csrf']`).val(),
                        email: form.find(`input[name='email']`).val(),
                        password: form.find(`input[name='password']`).val(),
                    },
                    success(data) {
                        alert(data.msg);
                        window.location.href = '/user/home';
                    },
                    error(errors) {
                        console.error(errors);
                    }
                })
            })
        })
    </script>
{{/section}}